
 /* Menü */
    #seite > #menu {
       background: black;
       color: white;
    }
    #seite > #menu h2,
    #seite > #menu h3,
    #seite > #menu h4,
    #seite > #menu h5,
    #seite > #menu h6 {
       font-weight: 900;
    }
    #seite > #menu div > div button,
    #seite > #menu div > div a { 
       border: 0px;
       border-radius: 2px;
       background-color: #00aeff;
       color: black;
    }
    
 /* Konversation */
    #sk-container.sk-embedded #sk-wrapper {
       background-color: #666666;
       color: black;
    }
    #sk-conversation::-webkit-scrollbar,
    #sk-conversation::-webkit-scrollbar-track {
       box-shadow: none;
       background-color: white;
    }
    #sk-conversation::-webkit-scrollbar-thumb {
       box-shadow: none;
       background-color: #eeeeee;
    }
    .sk-conversation .sk-msg {
       background-color: #999999;
       color: black;
    }
    