
    #seite > #menu {
       background: black;
       color: white;
    }
    #seite > #menu h2,
    #seite > #menu h3,
    #seite > #menu h4,
    #seite > #menu h5,
    #seite > #menu h6 {
       font-weight: 900;
    }
    
    .sk-conversation {
       background-color: #dddddd !important;
       color: black;
    }
