<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Andreas Sefzig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-title" content="Andreas Sefzig">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" media="screen, projection" href="css/index.css">
    <link rel="apple-touch-icon" href="img/icon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icon_76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/icon_120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icon_152x152-precomposed.png">
    <link rel="apple-touch-startup-image" href="/img/start_640x1136-precomposed.png">
<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">-->
    <script src="js/config.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/cookies.js"></script>
    <script src="js/funktionen.js"></script>
  </head>
  <body>
    <div id="seite">
      <div id="intro" style="display:none">
        <!--
        <h2>Funktionen</h2>
        <ul>
          <li><a href="#chat"     data-start="chat"    >Andreas Sefzigs Bot</a></li>
          <li><a href="#facebook" data-start="facebook">Facebook Messenger</a></li>
          <li><a href="#slack"    data-start="slack"   >Offenes Slack-Team</a></li>
          <li><a href="#webseite" data-start="webseite">Klassische Webseite</a></li>
          <li><a href="#daten"    data-start="daten">   Einstellungen</a></li>
        </ul>
        -->
      </div>
      <div id="uber">
        <iframe src="http://sefzig.net/text/Robogeddon/#einbindung"></iframe>
      </div>
      <div id="daten">
        <h2>Einstellungen</h2>
        <input type="text" id="vorname"  value="Ihr Vorname"><br />
        <input type="text" id="nachname" value="Ihr Nachname"><br />
        <input type="text" id="email"    value="Ihre E-Mail-Adresse"><br /><br />
        <input type="submit" value="Gespräch beginnen" onclick="chatStarten();" />
      </div>
      <div id="chat" style="top:-12px">
        Lade Chat...
      </div>
      <div id="fenster" onclick="fensterSchliessen();">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%"><tr width="100%" height="100%"><td width="100%" height="100%" align="center" valign="center">
          <iframe src=""></iframe>
          <img src="" />
        </td></tr></table>
        <div>
          <img src="img/ui/Schliessen.png" onclick="fensterSchliessen();" />
        </div>
        <script>
           
           function fensterSchliessen() {
              
              $('#fenster > iframe, #fenster iframe > img').attr('src',''); 
              $('#fenster').css('display','none');
              
           }
           
        </script>
      </div>
    </div>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>