<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Andreas Sefzig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-title" content="Andreas Sefzig">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" media="screen, projection" href="css/index.css">
    <link rel="apple-touch-icon" href="img/icon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icon_76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/icon_120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icon_152x152-precomposed.png">
    <link rel="apple-touch-startup-image" href="/img/start_640x1136-precomposed.png">
<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">-->
    <script src="js/config.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/cookies.js"></script>
    <script src="js/funktionen.js"></script>
  </head>
  <body data-menu="an">
    <div id="seite">
      <div id="intro" style="display:none">
        <!--
        <h2>Funktionen</h2>
        <ul>
          <li><a href="#daten"    data-start="daten">   Einstellungen</a></li>
          <li><a href="#chat"     data-start="chat"    >Andreas Sefzigs Bot</a></li>
          <li><a href="#facebook" data-start="facebook">Facebook Messenger</a></li>
          <li><a href="#slack"    data-start="slack"   >Offenes Slack-Team</a></li>
          <li><a href="#webseite" data-start="webseite">Klassische Webseite</a></li>
        </ul>
        -->
      </div>
      <div id="daten">
        <h2>Daten</h2>
        <div id="formular">
          <input type="text" id="vorname"  value="a"><br />
          <input type="text" id="nachname" value="b"><br />
          <input type="text" id="email"    value="c"><br /><br />
          <input type="submit" value="Gespräch beginnen" data-start="chat" />
        </div>
      </div>
      <div id="menu">
        <h2>Menü</h2>
        <div>
          Text.
        </div>
        <div>
          Text.
        </div>
        <div>
          Text.
        </div>
      </div>
      <div id="chat" style="display:none;">
        <div id="chatContainer">
          Lade Chat...
        </div>
      </div>
      <div id="fenster" onclick="fensterSchliessen();">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%"><tr width="100%"><td height="40"></tr><tr><td align="center" valign="center">
          <iframe src=""></iframe>
          <img src="" />
        </td></tr><!--<tr><td height="55">Fusszeile</td></tr>--></table>
        <div>
          <img src="img/ui/Schliessen.png" onclick="fensterSchliessen();" />
        </div>
      </div>
      <div id="start" style="">
        <img src="img/ui/Menu.png" data-start="menu" style="" />
      </div>
    </div>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>