<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SefzigBot</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="css/index.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/cookies.js"></script>
    <style>  </style>
  </head>
  <body>
    <div id="seite">
      <div id="intro" style="display: block">
        Intro
        <ul>
          <li><a href="#chat"     data-start="chat"    >Andreas Sefzigs Bot</a></li>
          <li><a href="#facebook" data-start="facebook">Facebook Messenger</a></li>
          <li><a href="#slack"    data-start="slack"   >Offenes Slack-Team</a></li>
          <li><a href="#webseite" data-start="webseite">Klassische Webseite</a></li>
          <li><a href="#konto"    data-start="konto">   Einstellungen</a></li>
        </ul>
      </div>
      <div id="konto">
        Einstellungen<br />
        <input type="text" id="vorname"  value="Ihr Vorname"><br />
        <input type="text" id="nachname" value="Ihr Nachname"><br />
        <input type="text" id="email"    value="Ihre E-Mail-Adresse"><br />
        <input type="submit" value="Gespräch beginnen" onclick="chatStarten();" />
      </div>
      <div id="chat">
        Chat
      </div>
      <div id="facebook">
        <iframe src="https://www.messenger.com/t/1195928167086850/"></iframe>
      </div>
      <div id="slack">
        Slack
      </div>
    </div>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>