<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Andreas Sefzig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-title" content="Andreas Sefzig">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" media="screen, projection" href="css/index.css">
    <link rel="apple-touch-icon" href="img/icon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icon_76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/icon_120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icon_152x152-precomposed.png">
    <link rel="apple-touch-startup-image" href="/img/start_640x1136-precomposed.png">
<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">-->
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
<!--<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>--> 
    <script type="text/javascript" src="js/cookies.js"></script>
    <script type="text/javascript" src="js/funktionen.js"></script>
  </head>
  <body data-menu="an">
    <div id="seite">
      <div id="intro" style="display:none">
        <!--
        <h2>Funktionen</h2>
        <ul>
          <li><a href="#daten"    data-start="daten">   Einstellungen</a></li>
          <li><a href="#chat"     data-start="chat"    >Andreas Sefzigs Bot</a></li>
          <li><a href="#facebook" data-start="facebook">Facebook Messenger</a></li>
          <li><a href="#slack"    data-start="slack"   >Offenes Slack-Team</a></li>
          <li><a href="#webseite" data-start="webseite">Klassische Webseite</a></li>
        </ul>
        -->
      </div>
      <div id="daten">
        
      </div>
      <div id="menu">
        <div id="robogeddon">
          <h2>#ROBOGEDDON</h2>
          <div style="margin-right:0px; overflow:hidden;">
            Bots übernehmen das Marketing.<br />
            Chat-Bots die Kommunikation.<br />
            Ab sofort zählt jedes Wort.
          </div>
          <div>
            <h3>Über uns</h3>
            <li># <button tabindex="2">Robogeddon</button></li>
            <li>Unsere <button tabindex="3">Produkte</button></li>
            <li><button tabindex="4">Kontakt</button> aufnehmen</li>
            <li>Andreas <button tabindex="5">Sefzig</button></li>
            <!-- Folgt: Tabindex fortführen... -->
          </div>
          <div>
            <h3>Unsere Bots</h3>
            <li>Alice: <button>Empfang</button></li>
            <li>Barbara: <button>Beratung</button></li>
            <li>Cynthia: <button>Technik</button></li>
            <li>Doris: <button>Kreation</button></li>
            <li>Erika: <button>Konzeption</button></li>
            <li>Feline: <button>Strategie</button></li>
          </div>
          <div id="formular">
            <h3>Ihre Daten</h3>
            <li><input type="text" id="vorname"  value="" style="width: 59px;" /></li><script>wachsen("vorname",  59);</script>
            <li><input type="text" id="nachname" value="" style="width: 71px;" /></li><script>wachsen("nachname", 71);</script>
            <li><input type="text" id="email"    value="" style="width:100px;" /></li><script>wachsen("email",    100);</script>
            <input type="submit" value="Gespräch beginnen" data-start="chat" />
          </div>
          <div>
            <h3>Tipps</h3>
            <li>Alle <button>Befehle</button> eines Bots</li>
            <li>Sie können immer <button>zurück</button></li>
            <li>Einfach <button>abbrechen</button> wenn lost</li>
            <li><button>Menü</button> an- oder ausschalten</li>
            <li>Den Chat <button>mobil</button> öffnen</li>
            <li><button>Über</button> den gerade aktiven Bot</li>
            <li>Unseren <button>Newsletter</button> bestellen</li>
          </div>
        </div>
        <div id="anderesmenu">
          Ein anderes Menü.
        </div>
      </div>
      <div id="chat" style="display:none;">
        <div id="chatContainer">
          Lade Chat...
        </div>
      </div>
      <div id="fenster" onclick="fensterSchliessen();">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%"><tr width="100%"><td height="40"></tr><tr><td align="center" valign="center">
          <iframe src="" style="margin-top:10px;"></iframe>
          <img src="" />
        </td></tr><!--<tr><td height="55">Fusszeile</td></tr>--></table>
        <div>
          <img src="img/ui/Schliessen.png" onclick="fensterSchliessen();" />
        </div>
      </div>
      <div id="start" style="">
        <input tabindex="0" type="image" src="img/ui/Menu.png" data-start="menu" />
      </div>
    </div>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>