<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SefzigBot</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="css/index.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/cookies.js"></script>
    <style>  </style>
  </head>
  <body>
    <div id="seite">
      <div id="intro" style="display: block">
        Intro
        <ul>
          <li><a href="#chat">Andreas Sefzigs Bot</a></li>
          <li><a href="#facebook">Facebook Messenger</a></li>
          <li><a href="#slack">Offenes Slack-Team</a></li>
          <li><a href="#webseite">Klassische Webseite</a></li>
        </ul>
      </div>
      <div id="chat">
        Chat
      </div>
      <div id="facebook">
        Facebook
      </div>
      <div id="slack">
        Slack
      </div>
    </div>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>