
 /* Allgemein */ 
 /* ----------------- */

 /* Normalisieren */ 
    html, body, #seite {
       background-color: white;
       overflow-x: hidden;
       overflow-y: hidden;
    }
    html, body, #seite, h1, h2, h3, h4, h5, h6 {
       margin: 0px;
       padding: 0px;
       font-family: "Open Sans", Helvetica, Arial, sans-serif;
       font-size: 14px;
    }h1, h2, h3, h4, h5, h6 {
       margin: 10px;
    }
    h1 { font-size: 19px; }
    h2 { font-size: 18px; }
    h3 { font-size: 17px; }
    h4 { font-size: 16px; }
    h5 { font-size: 15px; }
    h6 { font-size: 14px; }
    
 /* Seite */
 /* ----------------- */

 /* Layout */
    #seite, #seite > div {
       position: absolute;
       top: -30px;
       right: 0px;
       bottom: 0px;
       left: 0px;
    }
    #seite > div {
       display: none;
    }
    #seite > div > iframe {
       width: 100%;
       height: 100%;
       border: 0px black solid;
    }
    
 /* Ios Zoom */
    select, textarea, 
    input[type="text"], 
    input[type="password"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="date"], 
    input[type="month"], 
    input[type="time"], 
    input[type="week"], 
    input[type="number"], 
    input[type="email"], 
    input[type="url"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="color"] { 
       font-size: 16px;
    }
    
 /* Smooch Web Widget */
 /* ----------------- */

 /* Layout */
    #sk-wrapper, #sk-header, #sk-conversation, #sk-footer {
       position: absolute !important;
       right: 0px;
       left: 0px;
    }
    #sk-wrapper {
       top: 0px;
       bottom: 0px;
    }
    #sk-header {
       top: 0px;
       height: 45px;
    }
    #sk-conversation {
       top: 40px;
       bottom: 0px;
    }
    #sk-footer {
       bottom: 0px;
    }
    .sk-messages {
       padding-bottom: 0px !important;
    }
    .sk-intro {
       padding-top: 10px !important;
    }
    
 /* Kopfzeile */
    #sk-header > span:before {
       content: ".!,,!";
       display: inline;
       background: url("http://sefzig.net/text/seiten/SefzigBot/dateien/sefzigbot_displaybild.jpg") no-repeat;
       width: 20px;
       height: 20px;
       margin: 0 6px 0 0;
    }
    
 /* Inhalt */
    
 /* Fusszeile */
    
 /* Smooch Web Widget Anpassungen */
    .sk-messages span.befehl { 
       margin-top: 1px;
       margin-bottom: 1px;
       padding-left: 3px;
       padding-right: 3px;
       display: inline-block;
       border-radius: 2px;
       background-color: #00aeff;
       color: white;
       cursor: pointer;
    }
    .sk-messages img.bild { 
       max-width: 200px;
    }
    .sk-messages a.btn-sk-primary {
       margin-top: 5px !important;
       margin-bottom: 5px !important;
       color: black !important;
       background-color: silver !important;
       border-color: silver !important;
    }
    
    #fenster { 
       z-index: 3000;
       position: fixed;
       top: 30px;
       bottom: 0px;
       display: none;
       background-color: white;
    }
    #fenster > div { 
       z-index: 3001;
       position: fixed;
       top: 10px;
       right: 10px;
    }
    #fenster > div > img { 
       width: 40px;
       height: 40px;
       cursor: pointer;
    }
    