
 /* Allgemein: Normalisieren */ 
    html, body, h1, h2. h3, h4, h5, h6, #seite {
       margin: 0px;
       padding: 0px;
       overflow-x: hidden;
    }
    html, body, #seite {
       width: 100%;
       height: 100%;
       background-color: white;
    }
    
 /* Seite: Layout */
    #seite, #seite > div {
       position: absolute;
       top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
    }
    #seite {
       
    }
    #seite > div {
       display: none;
    }
    #seite > div > iframe {
       width: 100%;
       height: 100%;
       border: 0px black solid;
    }
    
 /* Smooch Web Widget */
    .sk-left-row { vertical-align: top; }
 /* .sk-left-row img { margin-top: -20px; } */
 /* #sk-header { display: none; } */
    #sk-header > span:after {
       content: "";
       display: block;
       background: url("https://media.smooch.io/appicons/571777938ea8c63e0057cc1f.jpg") no-repeat;
       width: 20px;
       height: 20px;
       float: left;
       margin: 0 6px 0 0;
    }
    
 /* Smooch Web Widget Anpassungen */
    .sk-messages span.befehl { 
       margin-bottom: 1px;
       padding-left: 2px;
       padding-right: 2px;
       display: inline-block;
       border-radius: 2px;
       background-color: #00aeff;
       color: white;
       cursor: pointer;
    }
    .sk-messages img.bild { 
       max-width: 200px;
    }
    