
 /* Allgemein */ 
 /* ----------------- */

 /* Normalisieren */ 
    html, body, #seite {
       background-color: white;
    }
    html, body, #seite, h1, h2. h3, h4, h5, h6 {
       margin: 0px;
       padding: 0px;
       overflow-x: hidden;
    }
    
 /* Seite */
 /* ----------------- */

 /* Layout */
    #seite, #seite > div {
       position: absolute;
       top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
    }
    #seite > div {
       display: none;
    }
    #seite > div > iframe {
       width: 100%;
       height: 100%;
       border: 0px black solid;
    }
    
 /* Smooch Web Widget */
 /* ----------------- */

 /* Layout */
    #sk-wrapper, #sk-header, #sk-conversation, #sk-footer {
       position: absolute !important;
       right: 0px;
       left: 0px;
    }
    #sk-wrapper {
       top: 0px;
       bottom: 0px;
    }
    #sk-header {
       top: 0px;
       height: 45px;
    }
    #sk-conversation {
       top: 0px;
       padding-top: 45px;
       bottom: 0px;
    }
    #sk-footer {
       bottom: 0px;
    }
    .sk-messages {
       padding-bottom: 20px !important;
    }
    
 /* Kopfzeile */
    #sk-header > span:before {
       content: ".!,!.";
       display: inline;
       background: url("http://sefzig.net/text/seiten/SefzigBot/dateien/sefzigbot_displaybild.jpg") no-repeat;
       width: 20px;
       height: 20px;
       margin: 0 6px 0 0;
    }
    
 /* Inhalt */
    
 /* Fusszeile */
    
 /* Smooch Web Widget Anpassungen */
    .sk-messages span.befehl { 
       margin-top: 1px;
       margin-bottom: 1px;
       padding-left: 3px;
       padding-right: 3px;
       display: inline-block;
       border-radius: 2px;
       background-color: #00aeff;
       color: white;
       cursor: pointer;
    }
    .sk-messages img.bild { 
       max-width: 200px;
    }
    .sk-messages a.btn-sk-primary {
       color: black;
       background-color: silver;
       border-color: silver;
    }
    