
 /* Allgemein: Normalisieren */ 
    html, body, h1, h2. h3, h4, h5, h6, #seite {
       margin: 0px;
       padding: 0px;
       overflow-x: hidden;
    }
    html, body, #seite {
       width: 100%;
       height: 100%;
       background-color: white;
    }
    
 /* Seite: Layout */
    #seite, #seite > div {
       position: absolute;
       top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
    }
    #seite > div {
       display: none;
    }
    
 /* Smooch Web Widget */
    .sk-left-row { vertical-align: top; }
    .sk-left-row img { margin-top: -20px; }
