
 /* ----------------- */
 /* Allgemein */ 
 /* ----------------- */
    
 /* Normalisieren */ 
    html, body, #seite {
       background-color: white;
       overflow-x: hidden;
       overflow-y: hidden;
    }
    html, body, #seite, h1, h2, h3, h4, h5, h6 {
       margin: 0px;
       padding: 0px;
       font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
       font-size: 14px;
    }
    #seite {
       max-width: 700px !important;
       margin-left: auto !important;
       margin-right: auto !important;
    }
    h1, h2, h3, h4, h5, h6 {
       margin: 10px;
    }
    h1 { font-size: 19px; }
    h2 { font-size: 18px; }
    h3 { font-size: 17px; }
    h4 { font-size: 16px; }
    h5 { font-size: 15px; }
    h6 { font-size: 14px; }
    
 /* Ios Zoom */
    select, textarea, 
    input[type="text"], 
    input[type="password"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="date"], 
    input[type="month"], 
    input[type="time"], 
    input[type="week"], 
    input[type="number"], 
    input[type="email"], 
    input[type="url"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="color"] { 
       font-size: 16px;
    }
    
 /* ----------------- */
 /* Seite */
 /* ----------------- */
    
 /* Dimensionen */
    #seite > #daten, 
    #seite > #chat, 
    #seite > #menu, 
    #seite > #fenster {
       position: absolute;
       top: 0px;
       bottom: 0px;
    }
    #seite > #daten,
    #seite > #chat,
    #seite > #fenster {
       left: 0px;
       right: 0px;
    }
    #seite > #daten > div,
    #seite > #menu > div > div {
       margin: 15px;
       margin-bottom: 15px;
    }
    #seite > #menu,
    #seite > #menu > div {
       overflow: auto;
    }
    
    #seite > #menu > div {
       position: absolute;
       top: 0px;
       left: 0px; 
       right: 0px; 
       bottom: 0px;
       width: 100%;
       max-width: 250px;
    }
    #seite > #daten {
       z-index: 101;
       background:red;
    }
    #seite > #chat {
       z-index: 102;
       top: -12px; /* :/ */
    }
    #seite > #menu {
       z-index: 103;
       right: -40%;
       bottom: 56px;
       width: 40%;
    }
    
 /* Burger-Menü */
    #seite > #start {
       z-index: 104;
       position: absolute; 
       top: 10px; 
       right: 10px; 
       left: none; 
       bottom: none;
    }
    #seite > #start > input {
       width: 25px; 
       height: 25px; 
       cursor: pointer;
       border: 0px;
    }
    
 /* ----------------- */
 /* Seiten            */
 /* ----------------- */
    
 /* Daten */
    #seite > #daten {
       background: transparent;
    }
    
 /* Chat */
    #seite > #chat {
       background: white;
    }
    
 /* Menü (Default) */
    #menu > div {
       display: none;
       line-height: 20px;
    }
    #menu h2 {
       margin: 14px;
    }
    #menu h3 {
       margin: 0px;
       margin-bottom: 10px;
    }
    
    @media (min-width:   1px) { #menu, #menu button, #menu #formular input { font-size:  8px !important; } #menu h2 { font-size: 12px; } #menu h3 { font-size: 10px !important; } }
    @media (min-width: 400px) { #menu, #menu button, #menu #formular input { font-size:  9px !important; } #menu h2 { font-size: 13px; } #menu h3 { font-size: 11px !important; } }
    @media (min-width: 430px) { #menu, #menu button, #menu #formular input { font-size: 10px !important; } #menu h2 { font-size: 14px; } #menu h3 { font-size: 12px !important; } }
    @media (min-width: 460px) { #menu, #menu button, #menu #formular input { font-size: 11px !important; } #menu h2 { font-size: 15px; } #menu h3 { font-size: 13px !important; } }
    @media (min-width: 500px) { #menu, #menu button, #menu #formular input { font-size: 12px !important; } #menu h2 { font-size: 16px; } #menu h3 { font-size: 14px !important; } }
    @media (min-width: 550px) { #menu, #menu button, #menu #formular input { font-size: 13px !important; } #menu h2 { font-size: 17px; } #menu h3 { font-size: 15px !important; } }
    @media (min-width: 600px) { #menu, #menu button, #menu #formular input { font-size: 14px !important; } #menu h2 { font-size: 18px; } #menu h3 { font-size: 16px !important; } }
    
    #menu div > div button,
    #menu div > div a { 
       margin-top: 1px;
       margin-bottom: 1px;
       padding-left: 3px;
       padding-right: 4px;
       display: inline-block;
       border: 0px;
       border-radius: 2px;
       background-color: #00aeff;
       color: white;
       cursor: pointer;
    }
    #menu div > div button:focus,
    #menu div > div a:focus { 
       background-color: #00ff00;
       color: black;
    }
    #menu div > div button.aktiv
    #menu div > div a.aktiv { 
       background-color: #ffffff;
       color: black;
    }
    
    #menu #formular li {
       margin: 0px;
       width: 100%;
    }
    #menu #formular input {
       display: inline-block;
       margin: 0px;
       margin-top: 1px;
       margin-left: 0px;
       margin-bottom: 1px;
       padding: 2px;
       padding-left: 5px;
       padding-right: 4px;
       background-color: #ff00ff;
       border: 0px white solid;
       border-radius: 2px;
       color: white;
       font-size: 14px;
    }
    #menu #formular input:focus {
       background-color: #ffffff;
       color: black;
    }
    #menu #formular input[type="submit"] {
       display: none;
    }
    
 /* ----------------- */
 /* Web Widget        */
 /* ----------------- */
    
 /* Dimensionen */
    #sk-wrapper, #sk-header, #sk-conversation, #sk-footer {
       position: absolute !important;
       z-index: 1000;
       right: 0px;
       left: 0px;
    }
    #sk-wrapper {
       top: 0px;
       bottom: 0px;
    }
    #sk-header {
       display: none;
       top: 0px;
       height: 45px;
    }
    #sk-conversation {
       top: 12px !important;
       bottom: 0px !important;
       height: calc(100% - 68px) !important;
    }
    #sk-footer {
       bottom: 0px;
       padding-top: 3px !important;
       padding-bottom: 7px !important;
       height: 55px !important;
       right: -1px;
    }
    .sk-messages {
       padding-bottom: 0px !important;
    }
    .sk-intro {
       padding-top: 10px !important;
    }
    #sk-footer .input-container {
       background-color: transparent !important;
    }
    #sk-footer .message-input {
       background-color: white !important;
    }
    
 /* Logo-Einbindung */
    .sk-messages-container .sk-logo {
       text-align: center;
       margin-left: 0px !important;
       width: 60%;
    }
    
 /* Farben */
    #sk-container.sk-embedded #sk-wrapper {
       background-color: white;
    }
    #sk-conversation::-webkit-scrollbar,
    #sk-conversation::-webkit-scrollbar-track {
       box-shadow: none;
       background-color: white;
    }
    #sk-conversation::-webkit-scrollbar-thumb {
       border-radius: 10px;
       box-shadow: none;
       background-color: #eeeeee;
    }
    
 /* ----------------- */
 /* Kopfzeile */
 /* ----------------- */
    
    #sk-header > span:before {
       content: ".!,,!";
       display: inline;
       background: url("http://sefzig.net/text/seiten/SefzigBot/dateien/Displaybild_SefzigBot.png") no-repeat;
       width: 20px;
       height: 20px;
       margin: 0 6px 0 0;
    }
    
 /* ----------------- */
 /* Nachrichten */
 /* ----------------- */
    
 /* Dimensionen */
    .sk-msg { 
       max-width: 250px !important;
    }
    .sk-messages img.bild { 
       max-width: 225px !important;
       cursor: pointer;
    }
    
 /* Bots */
    .sk-from {
       display: block;
    }
    #sk-conversation .sk-row.sk-left-row .sk-msg-avatar {
       border-radius: 5px;
    }
 /* Farben */
    .sk-left-row .sk-msg {
       background-color: #dddddd !important;
    }
    .sk-left-row .sk-msg
    .sk-right-row .sk-msg {
       max-width: 230px !important;
    }
    #sk-conversation .sk-row.sk-left-row .sk-msg-image:after, 
    #sk-conversation .sk-row.sk-left-row .sk-msg:after {
       border-color: transparent !important;
       border-right-color: #dddddd !important;
    }
    .sk-msg.frei::after {
       border: none !important;
    }
    
 /* ----------------- */
 /* Module */
 /* ----------------- */
    
 /* Befehl */
    .sk-msg span.befehl { 
       margin-top: 1px;
       margin-bottom: 1px;
       padding-left: 3px;
       padding-right: 3px;
       display: inline-block;
       border-radius: 2px;
       cursor: pointer;
    }
    
 /* Button */
    .sk-msg .modulButton { 
       display: inline-block;
       width: 100%;
    }
    .sk-msg .modulButton > a { 
       margin-top: 5px !important;
       margin-bottom: 3px !important;
       color: black !important;
       background-color: silver !important;
       border-color: silver !important;
    }
    
 /* Textlink */
    .sk-msg a.textLink { 
       color: #00aeff;
    }
    
 /* Bilder */
    .sk-msg img.bild {
       width: 225px;
       margin-top: 10px;
       margin-bottom: 5px;
    }
    
 /* ----------------- */
 /* Fusszeile */
 /* ----------------- */
    
    #sk-footer {
       background-color: #dddddd;
       color: gray !important;
    }
    #sk-footer .message-input {
       background-color: #dddddd;
       color: black !important;
    }
    #sk-footer .send.active {
       color: black !important;
    }
    
 /* ----------------- */
 /* Schaufenster */
 /* ----------------- */
    
 /* Dimensionen */
    #fenster { 
       display: none;
       position: fixed;
       z-index: 3000;
       top: 0px;
       bottom: 40px;
       padding: 10px;
       background-color:rgba(0,0,0,0.5);
    }
    #fenster iframe { 
       width: 100%;
       height: 100%;
       border: 0px black solid;
    }
    #fenster img { 
       max-width: 100%;
       max-height: 100%;
       border: 0px black solid;
       cursor: pointer;
    }
    #fenster div { 
       position: fixed;
       z-index: 3001;
       top: 10px;
       right: 10px;
    }
    #fenster > div > img { 
       width: 30px;
       height: 30px;
       max-width: 30px;
       max-height: 30px;
       cursor: pointer;
    }
    
 /* ----------------- */
 /* Js Klassen */
 /* ----------------- */
    
 /* Anzeigen/verbergen */
    .anzeigenB { display: block; }
    .anzeigenI { display: inline; }
    .verbergen { display: none; }
    
 /* ----------------- */
 /* Umgebung */
 /* ----------------- */
    
    @media (min-width:   1px) { body[data-menu="aus"] .sk-msg { max-width: 150px !important; transition: all 0.3s linear; font-size: 11px !important; } }
    @media (min-width: 410px) { body[data-menu="aus"] .sk-msg { max-width: 170px !important; transition: all 0.3s linear; font-size: 12px !important; } }
    @media (min-width: 440px) { body[data-menu="aus"] .sk-msg { max-width: 190px !important; transition: all 0.3s linear; font-size: 12px !important; } }
    @media (min-width: 470px) { body[data-menu="aus"] .sk-msg { max-width: 210px !important; transition: all 0.3s linear; font-size: 13px !important; } }
    @media (min-width: 510px) { body[data-menu="aus"] .sk-msg { max-width: 230px !important; transition: all 0.3s linear; font-size: 13px !important; } }
    @media (min-width: 560px) { body[data-menu="aus"] .sk-msg { max-width: 250px !important; transition: all 0.3s linear; font-size: 14px !important; } }
    @media (min-width: 610px) { body[data-menu="aus"] .sk-msg { max-width: 250px !important; transition: all 0.3s linear; font-size: 14px !important; } }
    
    body[data-menu="an"]  .sk-right-row .sk-msg { margin-right: 0%;  transition: all 0.3s linear; }
    body[data-menu="aus"] .sk-right-row .sk-msg { margin-right: 40%; transition: all 0.3s linear; }
    