
 /* ----------------- */
 /* Allgemein */ 
 /* ----------------- */
    
 /* Normalisieren */ 
    html, body, #seite {
       background-color: white;
       overflow-x: hidden;
       overflow-y: hidden;
    }
    html, body, #seite, h1, h2, h3, h4, h5, h6 {
       margin: 0px;
       padding: 0px;
       font-family: "Open Sans", Helvetica, Arial, sans-serif;
       font-size: 14px;
    }h1, h2, h3, h4, h5, h6 {
       margin: 10px;
    }
    h1 { font-size: 19px; }
    h2 { font-size: 18px; }
    h3 { font-size: 17px; }
    h4 { font-size: 16px; }
    h5 { font-size: 15px; }
    h6 { font-size: 14px; }
    
 /* Ios Zoom */
    select, textarea, 
    input[type="text"], 
    input[type="password"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="date"], 
    input[type="month"], 
    input[type="time"], 
    input[type="week"], 
    input[type="number"], 
    input[type="email"], 
    input[type="url"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="color"] { 
       font-size: 16px;
    }
    
 /* ----------------- */
 /* Seite */
 /* ----------------- */
    
 /* Dimensionen */
    #seite, #seite > div {
       position: absolute;
       top: 0px;
       right: 0px;
       bottom: 0px;
       left: 0px;
    }
    #seite > #chat {
       position: absolute;
       top: -30px;
       right: 0px;
       bottom: 0px;
       left: -7px;
    }
    #seite > #chat > * {
       margin-right: 1px;
    }
    #seite > div {
       display: none;
    }
    #seite > div > iframe {
       width: 100%;
       height: 100%;
       border: 0px black solid;
    }
    #seite > div > img {
       max-width: 100%;
       max-height: 100%;
       border: 0px black solid;
    }
    
 /* ----------------- */
 /* Web Widget */
 /* ----------------- */
    
 /* Dimensionen */
    #sk-wrapper, #sk-header, #sk-conversation, #sk-footer {
       position: absolute !important;
       right: 0px;
       left: 0px;
    }
    #sk-wrapper {
       top: 0px;
       bottom: 0px;
    }
    #sk-header {
       top: 0px;
       height: 45px;
    }
    #sk-conversation {
       top: 42px;
       bottom: 0px;
       height: calc(100% - 98px) !important;
    }
    #sk-footer {
       bottom: 0px;
       padding-top: 3px !important;
       padding-bottom: 7px !important;
       height: 55px !important;
       right: -1px;
    }
    .sk-messages {
       padding-bottom: 0px !important;
    }
    .sk-intro {
       padding-top: 10px !important;
    }
    #sk-footer .input-container {
       background-color: transparent !important;
    }
    #sk-footer .message-input {
       background-color: white !important;
    }
    
 /* Farben */
    #sk-container.sk-embedded #sk-wrapper {
       background-color: white !important;
    }
    #sk-conversation::-webkit-scrollbar,
    #sk-conversation::-webkit-scrollbar-track {
       box-shadow: none !important;
       background-color: white !important;
    }
    #sk-conversation::-webkit-scrollbar-thumb {
       border-radius: 10px !important;
       box-shadow: none !important;
       background-color: #eeeeee !important;
    }
    
 /* ----------------- */
 /* Kopfzeile */
 /* ----------------- */
    
    #sk-header > span:before {
       content: ".!,,!";
       display: inline;
       background: url("http://sefzig.net/text/seiten/SefzigBot/dateien/Displaybild_SefzigBot.png") no-repeat;
       width: 20px;
       height: 20px;
       margin: 0 6px 0 0;
    }
    
 /* ----------------- */
 /* Nachrichten */
 /* ----------------- */
    
 /* Dimensionen */
    .sk-msg { 
       max-width: 250px !important;
    }
    .sk-messages img.bild { 
       max-width: 225px !important;
    }
    
 /* Bots */
    .sk-from {
       display: block;
    }
    #sk-conversation .sk-row.sk-left-row .sk-msg-avatar {
       border-radius: 5px;
    }
 /* Farben */
    .sk-left-row .sk-msg {
       background-color: #dddddd !important;
    }
    .sk-left-row .sk-msg
    .sk-right-row .sk-msg {
       max-width: 230px !important;
    }
    #sk-conversation .sk-row.sk-left-row .sk-msg-image:after, 
    #sk-conversation .sk-row.sk-left-row .sk-msg:after {
       border-color: transparent !important;
       border-right-color: #dddddd !important;
    }
    .sk-msg.frei::after {
       border: none !important;
    }
    
 /* ----------------- */
 /* Module */
 /* ----------------- */
    
 /* Befehl */
    .sk-msg span.befehl { 
       margin-top: 1px;
       margin-bottom: 1px;
       padding-left: 3px;
       padding-right: 3px;
       display: inline-block;
       border-radius: 2px;
       background-color: #00aeff;
       color: white;
       cursor: pointer;
    }
    
 /* Button */
    .sk-msg .modulButton { 
       display: inline-block;
       width: 100%;
    }
    .sk-msg .modulButton > a { 
       margin-top: 5px !important;
       margin-bottom: 3px !important;
       color: black !important;
       background-color: silver !important;
       border-color: silver !important;
    }
    
 /* Textlink */
    .sk-msg a.textLink { 
       color: #00aeff;
    }
    
 /* Bilder */
    .sk-msg img.bild {
       width: 225px;
       margin-top: 10px;
       margin-bottom: 5px;
    }
    
 /* ----------------- */
 /* Fusszeile */
 /* ----------------- */
    
    #sk-footer {
       background-color: #dddddd !important;
       color: gray !important;
    }
    #sk-footer .message-input {
       background-color: #dddddd;
       color: black !important;
    }
    #sk-footer .send.active {
       color: black !important;
    }
    
 /* ----------------- */
 /* Schaufenster */
 /* ----------------- */
    
 /* Dimensionen */
    #fenster { 
       display: none;
       position: fixed;
       z-index: 3000;
       top: 30px;
       bottom: 40px;
       padding: 10px;
       background-color:rgba(255,255,255,0.5);
    }
    #fenster > div { 
       position: fixed;
       z-index: 3001;
       top: 10px;
       right: 10px;
    }
    #fenster > div > img { 
       width: 40px;
       height: 40px;
       cursor: pointer;
    }
    