    
 /* ------------------- */
 /* Menü */
 /* ------------------- */

 /* Hintergrundfarbe und Schriftfarbe */
    body[data-stil="tag"]        #menu { background: #cccccc; color: #333333; }
    body[data-stil="robogeddon"] #menu { background:   black; color: white; }
    body[data-stil="nacht"]      #menu { background: #333333; color: white; }
    body[data-stil="hacks"]      #menu { background:   black; color: white; }
    
 /* Überschriften: Schrift */
    body[data-stil="tag"]        #menu h2, #menu h3, #menu h4, #menu h5, #menu h6 { font-weight: 900; }
    body[data-stil="robogeddon"] #menu h2, #menu h3, #menu h4, #menu h5, #menu h6 { font-weight: 900; }
    body[data-stil="nacht"]      #menu h2, #menu h3, #menu h4, #menu h5, #menu h6 { font-weight: 900; }
    body[data-stil="hacks"]      #menu h2, #menu h3, #menu h4, #menu h5, #menu h6 { font-weight: 900; }
    
 /* Button-Farben */
    body[data-stil="tag"]        #menu div > div button { background-color: #00aeff; color: white; }
    body[data-stil="robogeddon"] #menu div > div button { background-color: #00aeff; color: white; }
    body[data-stil="nacht"]      #menu div > div button { background-color: #00aeff; color: black; }
    body[data-stil="hacks"]      #menu div > div button { background-color: #00ff00; color: black; }
    
 /* Input-Farben */
    body[data-stil="tag"]        #menu #formular input { background-color: #ff00ff; color: white; }
    body[data-stil="robogeddon"] #menu #formular input { background-color: #ff00ff; color: white; }
    body[data-stil="nacht"]      #menu #formular input { background-color: #ff00ff; color: black; }
    body[data-stil="hacks"]      #menu #formular input { background-color:    gray; color: black; }
    
 /* ------------------- */
 /* Konversation */
 /* ------------------- */
    
 /* Hintergrundfarbe und Schriftfarbe */
    body[data-stil="tag"]        #sk-container.sk-embedded #sk-wrapper { background-color: #eeeeee; color: black; }
    body[data-stil="robogeddon"] #sk-container.sk-embedded #sk-wrapper { background-color:   white; color: black; }
    body[data-stil="nacht"]      #sk-container.sk-embedded #sk-wrapper { background-color: #666666; color: black; }
    body[data-stil="hacks"]      #sk-container.sk-embedded #sk-wrapper { background-color:   black; color: white; }
    
 /* Scrollbar: Fläche */
    body[data-stil="tag"]        #sk-conversation::-webkit-scrollbar, body[data-stil="tag"]        #sk-conversation::-webkit-scrollbar-track { background-color: #eeeeee !important; }
    body[data-stil="robogeddon"] #sk-conversation::-webkit-scrollbar, body[data-stil="robogeddon"] #sk-conversation::-webkit-scrollbar-track { background-color: #ffffff !important; }
    body[data-stil="nacht"]      #sk-conversation::-webkit-scrollbar, body[data-stil="nacht"]      #sk-conversation::-webkit-scrollbar-track { background-color: #666666 !important; }
    body[data-stil="hacks"]      #sk-conversation::-webkit-scrollbar, body[data-stil="hacks"]      #sk-conversation::-webkit-scrollbar-track { background-color: #333333 !important; }
    
 /* Scrollbar: Griff */
    body[data-stil="tag"]        #sk-conversation::-webkit-scrollbar-thumb { background-color: #ffffff; }
    body[data-stil="robogeddon"] #sk-conversation::-webkit-scrollbar-thumb { background-color: #eeeeee; }
    body[data-stil="nacht"]      #sk-conversation::-webkit-scrollbar-thumb { background-color: #000000; }
    body[data-stil="hacks"]      #sk-conversation::-webkit-scrollbar-thumb { background-color: #000000; }
    
 /* Nachricht: From */
    body[data-stil="tag"]        #sk-conversation .sk-from { color: #999999 !important; }
    body[data-stil="robogeddon"] #sk-conversation .sk-from { color: #666666 !important; }
    body[data-stil="nacht"]      #sk-conversation .sk-from { color: #bbbbbb !important; }
    body[data-stil="hacks"]      #sk-conversation .sk-from { color:  silver !important; }
    
 /* ------------------- */
 /* Nachrichten links */
 /* ------------------- */
    
 /* Hintergrundfarbe und Schriftfarbe */
    body[data-stil="tag"]        #sk-conversation .sk-left-row .sk-msg { background-color: #cccccc !important; color: #333333 !important; }
    body[data-stil="robogeddon"] #sk-conversation .sk-left-row .sk-msg { background-color: #dddddd !important; color: #000000 !important; }
    body[data-stil="nacht"]      #sk-conversation .sk-left-row .sk-msg { background-color: #333333 !important; color: #ffffff !important; }
    body[data-stil="hacks"]      #sk-conversation .sk-left-row .sk-msg { background-color: #222222 !important; color: #ffffff !important; }
    
 /* Pfeilfarbe */
    body[data-stil="tag"]        #sk-conversation .sk-left-row .sk-msg:after { border-right-color: #cccccc !important; }
    body[data-stil="robogeddon"] #sk-conversation .sk-left-row .sk-msg:after { border-right-color: #dddddd !important; }
    body[data-stil="nacht"]      #sk-conversation .sk-left-row .sk-msg:after { border-right-color: #333333 !important; }
    body[data-stil="hacks"]      #sk-conversation .sk-left-row .sk-msg:after { border-right-color: #111111 !important; }
    
 /* Button-Farben */
    body[data-stil="tag"]        #sk-conversation .sk-left-row .sk-msg span.befehl { background-color: #00aeff; color: white; }
    body[data-stil="robogeddon"] #sk-conversation .sk-left-row .sk-msg span.befehl { background-color: #00aeff; color: white; }
    body[data-stil="nacht"]      #sk-conversation .sk-left-row .sk-msg span.befehl { background-color: #00aeff; color: black; }
    body[data-stil="hacks"]      #sk-conversation .sk-left-row .sk-msg span.befehl { background-color: #00ff00; color: black; }
    
 /* ------------------- */
 /* Nachrichten rechts */
 /* ------------------- */
    
 /* Hintergrundfarbe und Schriftfarbe */
    body[data-stil="tag"]        #sk-conversation .sk-right-row .sk-msg { background-color: #00aeff !important; color: white !important; }
    body[data-stil="robogeddon"] #sk-conversation .sk-right-row .sk-msg { background-color: #00aeff !important; color: white !important; }
    body[data-stil="nacht"]      #sk-conversation .sk-right-row .sk-msg { background-color: #00aeff !important; color: black !important; }
    body[data-stil="hacks"]      #sk-conversation .sk-right-row .sk-msg { background-color: #00ff00 !important; color: black !important; }
    
 /* Pfeilfarbe */
    body[data-stil="tag"]        #sk-conversation .sk-right-row .sk-msg:after { border-left-color: #00aeff !important; }
    body[data-stil="robogeddon"] #sk-conversation .sk-right-row .sk-msg:after { border-left-color: #00aeff !important; }
    body[data-stil="nacht"]      #sk-conversation .sk-right-row .sk-msg:after { border-left-color: #00aeff !important; }
    body[data-stil="hacks"]      #sk-conversation .sk-right-row .sk-msg:after { border-left-color: #00ff00 !important; }
    
 /* Button-Farben */
    body[data-stil="tag"]        #sk-conversation .sk-right-row .sk-msg span.befehl { background-color: #00aeff; color:   white; }
    body[data-stil="robogeddon"] #sk-conversation .sk-right-row .sk-msg span.befehl { background-color: #00aeff; color:   white; }
    body[data-stil="nacht"]      #sk-conversation .sk-right-row .sk-msg span.befehl { background-color: #00aeff; color:   black; }
    body[data-stil="hacks"]      #sk-conversation .sk-right-row .sk-msg span.befehl { background-color:   black; color: #00ff00; }
    
 /* ------------------- */
 /* Footer */
 /* ------------------- */
    
 /* Rahmenfarbe oben */
    body[data-stil="tag"]        #sk-footer { border-top: #333333 0px solid !important; }
    body[data-stil="robogeddon"] #sk-footer { border-top: #333333 0px solid !important; }
    body[data-stil="nacht"]      #sk-footer { border-top: #333333 0px solid !important; }
    body[data-stil="hacks"]      #sk-footer { border-top: #333333 1px solid !important; }
    
 /* Hintergrundfarbe und Schriftfarbe */
    body[data-stil="tag"]        #sk-footer { background: #cccccc !important; color: #333333 !important; }
    body[data-stil="robogeddon"] #sk-footer { background: #dddddd !important; color:    gray !important; }
    body[data-stil="nacht"]      #sk-footer { background: #333333 !important; color:   white !important; }
    body[data-stil="hacks"]      #sk-footer { background: #000000 !important; color:   white !important; }
    
 /* Eingaben */
    body[data-stil="tag"]        #sk-footer .message-input { background-color: #ffffff !important; color:   gray !important; border: #ffffff 1px solid; } body[data-stil="tag"]        #sk-footer .send.active { color:  gray !important; }
    body[data-stil="robogeddon"] #sk-footer .message-input { background-color: #ffffff !important; color:  black !important; border: #ffffff 1px solid; } body[data-stil="robogeddon"] #sk-footer .send.active { color: black !important; }
    body[data-stil="nacht"]      #sk-footer .message-input { background-color: #666666 !important; color: silver !important; border: #666666 1px solid; } body[data-stil="nacht"]      #sk-footer .send.active { color: white !important; }
    body[data-stil="hacks"]      #sk-footer .message-input { background-color: #000000 !important; color: silver !important; border: #111111 1px solid; } body[data-stil="hacks"]      #sk-footer .send.active { color: white !important; }
    